flow.example.json
[{"id":"fd5b3bd5.176388","type":"inject","z":"b56b02d0.38d0c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":100,"wires":[["450057dc.b44968"]]},{"id":"450057dc.b44968","type":"create-device","z":"b56b02d0.38d0c","api":"825d64ec.398ce8","name":"Device","definition":"{\"name\":\"\",\"description\":\"\",\"properties\":{},\"streams\":{\"test\":{\"str\":\"string\",\"bool\":\"boolean\",\"num\":\"number\"}},\"actions\":[\"test\"]}","x":440,"y":100,"wires":[["d3967e69.e943f"]]},{"id":"d3967e69.e943f","type":"debug","z":"b56b02d0.38d0c","name":"","active":true,"console":"false","complete":"false","x":630,"y":100,"wires":[]},{"id":"afdf6456.9c87a8","type":"inject","z":"b56b02d0.38d0c","name":"","topic":"8ac7b2aa-861f-479d-8a18-2697e584f865","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":180,"wires":[["c1829bf0.0cd428"]]},{"id":"c1829bf0.0cd428","type":"read-device","z":"b56b02d0.38d0c","api":"825d64ec.398ce8","name":"Device","deviceId":"","x":430,"y":180,"wires":[["bf3d4760.f14ba8"]]},{"id":"bf3d4760.f14ba8","type":"debug","z":"b56b02d0.38d0c","name":"","active":true,"console":"false","complete":"false","x":630,"y":180,"wires":[]},{"id":"2d3a48c4.252d58","type":"send-data","z":"b56b02d0.38d0c","api":"825d64ec.398ce8","deviceId":"8ac7b2aa-861f-479d-8a18-2697e584f865","name":"","stream":"test","x":440,"y":260,"wires":[]},{"id":"8f3332bc.901f8","type":"inject","z":"b56b02d0.38d0c","name":"","topic":"","payload":"{\"str\":\"hello\",\"bool\":true,\"num\":12.2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":210,"y":260,"wires":[["2d3a48c4.252d58"]]},{"id":"8af834d5.0b7668","type":"debug","z":"b56b02d0.38d0c","name":"","active":true,"console":"false","complete":"false","x":630,"y":340,"wires":[]},{"id":"32702ba6.28ac54","type":"subscribe-data","z":"b56b02d0.38d0c","api":"825d64ec.398ce8","deviceId":"8ac7b2aa-861f-479d-8a18-2697e584f865","name":"","stream":"test","x":430,"y":340,"wires":[["8af834d5.0b7668"]]},{"id":"eee2f3d6.49536","type":"invoke-action","z":"b56b02d0.38d0c","api":"825d64ec.398ce8","deviceId":"8ac7b2aa-861f-479d-8a18-2697e584f865","name":"test","body":"","x":430,"y":420,"wires":[]},{"id":"997154ae.a87218","type":"inject","z":"b56b02d0.38d0c","name":"","topic":"test","payload":"hello=world&test=1","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":420,"wires":[["eee2f3d6.49536"]]},{"id":"da3a9ffb.c4e2e","type":"subscribe-action","z":"b56b02d0.38d0c","api":"825d64ec.398ce8","deviceId":"8ac7b2aa-861f-479d-8a18-2697e584f865","name":"","action":"test","x":430,"y":480,"wires":[["bc40a26e.643dd"]]},{"id":"bc40a26e.643dd","type":"debug","z":"b56b02d0.38d0c","name":"","active":true,"console":"false","complete":"false","x":630,"y":480,"wires":[]},{"id":"825d64ec.398ce8","type":"raptor-config","z":"","url":"http://raptor.local","username":"admin","password":"admin","token":"","deviceId":"","name":""}]
